@font-face {
  font-family: 'helpfont';
	src: url('//at.alicdn.com/t/font_1436960506_3933764.eot'); /* IE9*/
	src: url('//at.alicdn.com/t/font_1436960506_3933764.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('//at.alicdn.com/t/font_1436960506_3933764.woff') format('woff'), /* chrome銆乫irefox */
	url('//at.alicdn.com/t/font_1436960506_3933764.ttf') format('truetype'), /* chrome銆乫irefox銆乷pera銆丼afari, Android, iOS 4.2+*/
	url('//at.alicdn.com/t/font_1436960506_3933764.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.h,.h a{
	color: #f40 !important;
}

a{
	color: #666;
	text-decoration: none;
}
a:hover{
	color: #f40;
	text-decoration: none;
}
.clear{
	clear: both;
}

/*寮哄埗闄愬畾鍚婇《瀹藉害涓�990px*/
.site-nav-bd{
	width: 990px !important;
}

/*闅愯棌棣栭〉銆佹柊浜烘寚鍗楃殑涓夎褰㈡寚绀�*/
.help-nav-home i,
.help-nav-new i{
	display: none;
}

/*鏃烘椇蹇€熶笅杞�*/
.help-ww a{
	margin-top: 10px;
	display: block;
	background: url(//img.alicdn.com/tps/i3/TB1Aba5IFXXXXbIXVXX01gBIXXX-190-80.jpg) no-repeat;
	width: 190px;
	height: 80px;
 }
.lang-tw .help-ww a{
	background: url(//img.alicdn.com/tps/i4/TB15xbaIFXXXXbbXFXX01gBIXXX-190-80.jpg) no-repeat;
}

.help-icon{
  font-family: 'helpfont';
  font-size: 12px;
  margin-right: 2px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.header{
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
}
.hd-content{
  width: 990px;
  margin: 0 auto;
  padding: 28px 0;
  position: relative;
  height: 54px;
}
.help-search{
  position: absolute;
  border: 1px solid #f40;
  width: 308px;
  height: 40px;
  right: 0;
  top: 30px;
}
.help-search input{
  font-size: 14px;
  position: relative;
  left: 2px;
  top: 2px;
  height: 26px;
  line-height: 26px;
  text-indent: 10px;
  margin: 0;
  padding: 7px 0;
  vertical-align: middle;
  border: none;
  z-index: 2;
  width: 270px;
  outline: 0;
  box-sizing: inherit;
  background: #fff;
}
.help-search button{
  border: none;
  color: #f40;
  font-size: 26px;
  position: absolute;
  right: 8px;
  top: 1px;
  background-color: transparent;
}
.wrap{
  width: 990px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
}
.wrap-lt{
  float: left;
  width: 190px;
  margin-right: 10px;
}
.wrap-rt{
  width: 790px;
  float: left;
}
.help-tree{
  border: 1px solid #e5e5e5;
  border-top: 2px solid #666;
  width: 188px;
}
.tree-list h3,.tree-list h4{
  font-weight: normal;
  color: #666;
  line-height: 20px;
  cursor: pointer;
}
.tree-list h4,.list-three li{
  padding: 10px 10px 10px 15px;
  height: 15px;
  line-height: 15px;
}
.tree-list h4{
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}
.tree-list h4 a{
	padding: 10px 10px 10px 32px;
	height: 15px;
	position: absolute;
	left: 0;
	top: 0;
	width: 146px;
}
.list-one{
  padding: 15px 15px 15px 20px;
  height: 20px;
  line-height: 20px;
  border-bottom: 1px solid #e5e5e5;
  color: #666;
  background-color: #fbfbfb;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

/*閽堝棣栭〉鍜屾柊浜烘寚鍗�*/
.list-one a{
	position: absolute;
	left: 0;
	top: 0;
	padding: 15px 15px 15px 20px;
	height: 20px;
	width: 153px;
}

.list-one i{
	float: left;
	position: absolute;
	margin: 0 0 0 4px;
	width: 6px;
	height: 40px;
	cursor: pointer;
	top: 5px;
	right: 10px;
}
.list-one i span{
	position: absolute;
	top: 19px;
	left: 0;
	width: 0;
	height: 0;
	border-color: rgba(255,255,255,0);
	border-color: transparent\0;
	_border-color: tomato;
	_filter: chroma(color=tomato);
	border-style: solid;
	overflow: hidden;
	border-width: 3px 0 3px 3px;
	border-left-color: #ccc;
}
.list-one-hover i{
	right: 12px;
}
.list-one-hover i span{
	border-width: 3px 3px 0;
	border-top-color: #666;
	border-left-color: transparent;
}
.list-one:hover,.list-one-hover{
   background-color: #f2f2f2;
}
.list-two,.hover-category{
  display: none;
}
.list-two-show,.hover-category-show{
  display: block;
}
.list-three li{
  padding-left: 30px;
}
.list-three li a{
  color: #666;
}
.list-three li a:hover{
  color: #f40;
}

.search-area{
  border: 1px solid #e5e5e5;
  height: 98px;
  margin-bottom: 10px;
  background: url(//img.alicdn.com/tps/i3/TB1auzsIpXXXXXSXXXXLt2mIpXX-192-84.png) no-repeat 30px bottom;
  position: relative;
}
.hd-search{
  position: absolute;
  top: 25px;
  right: 60px;
}
.search-panel{
  width: 450px;
}
.hd-search .search-hp-panel .search-button .btn-search{
  font-size: 16px;
  width: 70px;
}
.search-hots{
  position: absolute;
  bottom: 15px;
  left: 280px;
  color: #888;
}
.search-hots span,.search-hots a{
  float: left;
  margin-right: 15px;
  color: #888;
}
.search-hots a:hover{
  color: #f40;
}

.help-detail{
  border: 1px solid #e5e5e5;
  padding: 20px 30px;
  position: relative;
}
.crumbs{
  height: 29px;
  border-bottom: 1px solid #e5e5e5;
  color: #666;
  /*margin-bottom: 20px;*/
}

/*鍒楄〃椤�*/
.help-content-list{
  margin-top: 30px;
  width: 748px;
  overflow: hidden;
}
.help-content-list h3{
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}
.help-content-list ul{
  width: 900px;
}
.help-content-list li{
  float: left;
  width: 371px;
  margin-right: 4px;
  height: 36px;
  line-height: 22px;
  position: relative;
}
.spot-y{
  width: 8px;
  height: 12px;
  display: inline-block;
  background: url(//img.alicdn.com/tps/i3/T1mRZBXoxbXXbOIiAn-528-300.png) no-repeat;
  background-position: -515px -82px;
  margin-right: 5px;
  position: absolute;
  top: 8px;
  left: 0;
}
.help-content-list li a{
  width: 345px;
  display: inline-block;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #36c;
}

/*鍒嗛〉*/
.help-page{
  text-align: center;
  color: #666;
  margin: 30px 0 20px 0;
}
.help-page a{
  color: #666;
}
.help-page a:hover{
  color: #f40;
}
.help-page .page-previous{
  margin-right: 20px;
}
.help-page .page-next{
  margin-left: 20px;
}
.help-page .page-num{
  padding: 6px 10px;
  margin-right: 5px;
}
.help-page .page-current{
  background-color: #f40;
  color:white;
}

/*鎼滅储缁撴灉椤�*/
.help-search-result h3{
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom:1px solid #e5e5e5;
  margin-bottom: 30px;
}
.help-search-result h3 span{
  color: #f40;
}
.help-search-result li{
  width: 100%;
  margin-right: 4px;
  margin-bottom: 20px;
  height: 50px;
  line-height: 22px;
  position: relative;
  list-style-type: none;

}
.help-search-result li a{
  display: inline-block;
  padding-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #36c;
}
.help-search-result li p{
  color: #888;
  padding-left: 10px;
}

/*鎼滅储鏃犵粨鏋�*/
.no-result{
  height: 118px;
}
.no-result img{
  width: 200px;
  position: absolute;
  top: 20px;
  left: 40px;
}
.no-result-rt{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 500px;
  color: #666;
}
.no-result-rt h3{
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}
.no-result-rt h3 span{
  color: #f40;
}
.no-result-rt p{
  margin-bottom: 8px;
}
.no-result-rt p a{
  color: #36c;
}
.no-result-rt p a:hover{
  color: #f40;
}

/*棣栭〉*/
.help-content-up{
  margin-top: 0;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}
.help-content-down{
  margin-top: 20px;
}
.help-content-up li a,.help-content-down li a{
  color: #666;
}
.help-content-up li a:hover,.help-content-down li a:hover{
  color: #f40;
}

.help-link{
  padding: 25px 13px 10px 13px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
	height: 163px;
	overflow: hidden;
}
.help-link .help-icon{
	font-size: 23px;
	font-style: normal;
	color: #ff7c9b;
	margin-right: 5px;
	font-weight: normal;
}
.help-link-md .help-icon{
	color: #feb535;
}
.help-link-rt .help-icon{
	color: #4abdff;
}
.help-link h3{
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #f0f0f0;
  height: 18px;
  line-height: 18px;
	padding-bottom: 20px;
	text-align: center;

}
.help-link-area{
  border-right: 1px solid #f0f0f0;
	float: left;
	width: 218px;
	padding: 0 17px;
	height: 153px;
	overflow: hidden;
}
.help-link-rt{
	border-right: 0 none;
}
.help-link-text{
	padding-top: 25px;
	padding-left: 25px;
	width: 175px;
	overflow: hidden;
}
.help-link-text ul{
	width: 300px;
}
.help-link-text li{
	float: left;
	margin-bottom: 14px;
}
.help-link-text li b{
	display: inline-block;
	padding: 0 30px;
	font-weight: normal;
	color: #f0f0f0;
}

.help-link-text li a{
	color: #666;
}
.help-link-text li a:hover{
	color: #f40;
}

/**鍙嶉UI鏇存敼 author:鏆侀害**/
.help-content-feedback{
	width: 748px;
	height: auto;
	position: relative;
}

.iconfont-feedback{
	width:14px;
	height: 14px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: middle;
}

.icon-zan {
	width:16px;
	height: 16px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: middle;
	background: url(//img.alicdn.com/tps/i3/TB1KndwHXXXXXbyXVXX9br4FXXX-16-64.png) no-repeat 0 0;
}
.icon-bad {
	width:16px;
	height: 16px;
	display: inline-block;
	*display: inline;
	*zoom:1;
	vertical-align: middle;
	background: url(//img.alicdn.com/tps/i3/TB1KndwHXXXXXbyXVXX9br4FXXX-16-64.png) no-repeat 0 -32px;

}

.help-feedback-wrap{
	text-align: center;
	margin: 46px 0;
}

.help-feedback-wrap h4{
	font-size: 14px;
	margin-bottom: 8px;
	color: #3e3e3e;
}
.help-feedback-wrap .icon-close{
	display: none;
	float: right;
	margin-right: 12px;
	margin-left: 20px;
}
.help-feedback-wrap .help-feedback-count{
	color: #999;
}
.help-feedback-wrap .help-feedback-btn{
	display: inline-block;
	width: 96px;
	height: 30px;
	border: 1px solid #666;
	border-radius: 15px;
	color: #3e3e3e;
	line-height: 30px;
	font-size: 14px;
	margin: 18px 6px 0 6px;
	text-align: center;
}

.help-feedback-wrap .help-feedback-btn:hover{
	color: #ff5500;
	border-color: #F22E00;
	text-decoration: none;
}
.help-feedback-wrap .help-feedback-btn:hover .icon-zan{

	background-position: 0 -16px;

}
.help-feedback-wrap .help-feedback-btn:hover .icon-bad{
	background-position: 0 -48px;

}

.help-feedback-wrap .help-feedback-btn i{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.help-feedback-wrap .help-feedback-tip{
	display: none;
	color: #ff5500;
	font-size: 14px;
	padding: 10px;
}
.help-feedback-wrap .help-feedback-tip .icon-zan{
	background-position: 0 -16px;
}
.help-feedback-wrap .help-feedback-tip .icon-bad{
	background-position: 0 -48px;
}
.help-feedback-wrap .help-feedback-tip .tip-text{
	color: #999;
	padding-left: 12px;
}

.help-feedback-wrap .add-suggest{
	padding-left: 12px;
}

.help-feedback-fixed{
	position: fixed;
	height: 50px;
	line-height: 50px;
	margin: 0;
	bottom: 0px;
	border: 1px solid #eee;
	background: #FAFAFA;
	text-align: left;
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
	display: none;
	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=8, Direction=0),
progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=8, Direction=90),
progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=8, Direction=180),
progid:DXImageTransform.Microsoft.Shadow(Color=#eeeeee, Strength=8, Direction=270);

}
.help-feedback-fixed .icon-close{
	display: block;
	width:24px;
	height: 24px;
	margin: 13px 10px;
	cursor: pointer;
	color: #A8A8A8;
	background: url(//img.alicdn.com/tps/i1/TB1jxiaHXXXXXayapXXl2ySFFXX-24-48.png) no-repeat 0 0;
}
.help-feedback-fixed .icon-close:hover{
	color: #FE7B03;
	background-position: 0 -24px;
}

.help-feedback-fixed .help-feedback-btn-wrap{
	float: right;
}


.help-feedback-fixed h4{
	float: left;
	margin-left: 12px;
}
.help-feedback-fixed .help-feedback-count{
	float: left;
}
.help-feedback-fixed .help-feedback-btn{
	margin: 9px 6px 9px 6px;
}
.help-feedback-fixed .help-feedback-tip{
	padding: 0;
	float: right;
	margin-right: 20px;
}





/*suggest modal*/
.suggest-modal{
	width:410px;
	height: 262px;
	background: rgba(0,0,0,0.3);
	background: #eee\9;
	position:absolute;
	left:-9999px;
	top:-9999px;
	z-index: 999;
}

.suggest-modal .inner{
	width:400px;
	height: 252px;
	position: absolute;
	top:5px;
	left: 5px;
	background: #fff;
}

.suggest-modal .icon-close{
	position: absolute;
	top:10px;
	right: 12px;
	width: 24px;
	height: 24px;
	font-size:18px;
	font-style:normal;
	font-weight: 800;
	color:#a8a8a8;
	background: url(//img.alicdn.com/tps/i1/TB1jxiaHXXXXXayapXXl2ySFFXX-24-48.png) no-repeat 0 0;
}
.suggest-modal .icon-close:hover{
	text-decoration: none;
	color: #FE7B03;
	background-position: 0 -24px;

}

.suggest-modal .icon-bad{
	background-position: 0 -48px;
}

.suggest-modal h4{
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
	margin: 0 20px;
}
.suggest-modal .label{
	padding:10px 0 5px 20px;
}


.suggest-modal h4 .em{
	color: #ff5500;
	padding-right: 8px;
}
.suggest-modal h4 .em i{
	padding-right: 2px;
}

.suggest-modal .remain-wrap{
	position: absolute;
	top:38px;
	right: 12px;

}
.suggest-modal .remain-wrap .remain{
	font-weight: bold;
}
.suggest-modal .remain-wrap .error{
	color:#fa7d3c;
}
.suggest-modal .suggest-content{
	border: 1px solid #eee;
	background: #fafafa;
	width: 360px;
	height: 80px;
	margin: 0 15px;
	padding: 5px;

}

.suggest-modal .submit-btn{
	display: block;
	background: #FE7B03;
	border: none;
	margin: 12px auto;

}
.suggest-modal .submit-btn-disabled{
	background: #FFD8B4;
}

.suggest-submit-tip{
	position: fixed;
	width: 150px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	top:50%;
	left: 50%;
	margin-left: -75px;
	background: rgba(0,0,0,0.7);
	*background:#000;
	background:#000\9;
	color: #fff;
	font-size: 14px;
	font-family: 'STHeitiSC-Light';
	display: none;
	z-index:10000;
}

.submit-btn {
	background-color: #7e0400;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	width: 80px;
	height: 33px;
	line-height: 33px;
}
.suggest-modal .submit-btn {
	display: block;
	background: #FE7B03;
	border: none;
	margin: 12px auto;
}
.suggest-modal .submit-btn-disabled {
	background: #FFD8B4;
}
/*animations*/

.zoom-in{
	-webkit-animation: zoom-in 0.8s ;
	-moz-animation: zoom-in 0.8s ;
	-ms-animation: zoom-in 0.8s;
}
.zoom-out{
	-webkit-animation: zoom-out .6s;
	-moz-animation: zoom-out .6s;
	-ms-animation: zoom-out .6s;
}


@-webkit-keyframes zoom-in {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,100%,0);
	}

	100% {
		opacity: 1;
		-webkit-transform: translate3d(0,0,0);
	}
}
@-webkit-keyframes zoom-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-webkit-transform: translate3d(0,100%,0);
	}
}

@-moz-keyframes zoom-in {
	0% {
		opacity: 0;
		-moz-transform: translate3d(0,100%,0);
	}

	100% {
		opacity: 1;
		-moz-transform: translate3d(0,0,0);
	}
}
@-moz-keyframes zoom-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-moz-transform: translate3d(0,100%,0);
	}
}

@-ms-keyframes zoom-in {
	0% {
		opacity: 0;
		-ms-transform: translate3d(0,100%,0);
	}

	100% {
		opacity: 1;
		-ms-transform: translate3d(0,0,0);
	}
}
@-ms-keyframes zoom-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		-ms-transform: translate3d(0,100%,0);
	}
}



